
body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
  }
  
  article, h1 {
    margin: 1rem;
  }
  
  form {
    display: flex;
    flex-direction: column;
    margin: 64px auto;
    max-width: 300px;
    gap: 8px;
  }
  
  label {
    display: flex;
    justify-content: space-between;
  }
  
  .navigation-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #282c34;
    height: 50px;
  }

  .user-hello {
    color: white;
    padding-left: 30px;
  }
  
  .menu-item {
    color: #61dafb;
    font-weight: 600;
    text-decoration: none;
    padding: 1rem;
  }
  
  .menu-item:hover {
    background: #393e48;
  }
  
  .menu-item__active {
    background: #3f4859;
    color: #a6eaff;
  }

  .home-container {
    text-align: center;
    padding: 40px;
  }
  
  .setting-container {
    display: flex;
    flex-direction: column;
    margin: 64px 30px;
  }
  
  .userlist-container {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    padding: 8px;
  }
  .userlist-container > ul {
    padding: 0;
    margin: 0;
    list-style: none;
    flex: 1;
  }
  .userlist-container > ul > li {
    border-bottom: 1px solid black;
  }
  .userlist-container > ul > li > a {
    display: block;
    padding: 4px;
    color: black;
    text-decoration: none;
  }
  .userlist-container > ul > li > a:hover {
    display: block;
    cursor: pointer;
    background-color: lightcyan;
  }
  .userlist-container  > div {
    flex: 2;
  }
  